.item-message {
  grid-area: item-message;
  display: flex;
  flex-direction: column;
  &__message {
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid black;
  }
}